#first-container, #second-container, #third-container, #fourth-container{
  height: 50vh;
}

p{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.gradient-background{
    background: linear-gradient(300deg, #27005D, #9400FF, #AED2FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #banner > div > div > div.col-md-6.col-lg-8.col-xl-8.pt-5.my-5 > div.personal-info.text-start > h1,h3,h4{  margin-left: 30px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;font-family: 'Montserrat', sans-serif;
}

#links{
  display: flex;
  width:fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-left: 30px;
}

#links a{
  color: #E4F1FF;
  text-decoration: none;
  margin-left: 2px;
}

#links .link-item{
  margin-bottom: 10px;
}

#second-container{
  background-color: #0049a1;
}

#third-container{
  background-color: #AED2FF;
}

#fourth-container{
  background-color: #113869;
}

.about-me-container{
  background-color: #050A30;
}

.about-me-container > div > p{
  color: white;
}

.photo-container img {
  margin-left: 1.5rem; 
  margin-right: 1.5rem;
}

#third-container > div.second-paragraph > p > span{
  text-align: center;
}

#third-container > p {
  font-weight: bold;
}
@media (max-width: 768px) {
  .col-md-6.text-center {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .col-md-6.text-center img {
      margin: 0 auto;
  }

  #first-container, #second-container, #third-container, #forth-container {
    height: 100vh;
  }

  .photo-container{
    justify-content: center;
  }
}

@media(max-width: 992px)
{
  #first-container, #second-container, #third-container, #forth-container {
    height: 80vh;
  }
}

